<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>Página de Inicio</title>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"></header>

    <div class="container">
        <h1>Página de Inicio</h1>
        <a class="btn btn-primary" th:href="@{/agregar}">Agregar Usuario</a>
        <p th:text="${mensaje}"></p>
        <hr/>

        <div th:if="${usuario != null}">
            <b>CÉDULA:</b> <span th:text="${usuario.id}"></span><br/>
            <b>CLAVE:</b> <span th:text="${usuario.clave}"></span><br/>
            <b>NOMBRE:</b> <span th:text="${usuario.nombre}"></span><br/>
            <b>EMAIL:</b> <span th:text="${usuario.email}"></span><br/>
            <b>ROL:</b> <span th:text="${usuario.rol}"></span><br/>
        </div>

        <h2>Lista de Personas</h2>
        <hr/>
        <div th:if="${usuarios != null and !usuarios.empty}">
            <table>
                <thead>
                    <tr>
                        <th>CÉDULA</th>
                        <th>CLAVE</th>
                        <th>NOMBRE</th>
                        <th>EMAIL</th>
                        <th>ROL</th>
                        <th>MODIFICAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario : ${usuarios}">
                        <td th:text="${usuario.id}"></td>
                        <td th:text="${usuario.clave}"></td>
                        <td th:text="${usuario.nombre}"></td>
                        <td th:text="${usuario.email}"></td>
                        <td th:text="${usuario.rol}"></td>
                        <td>
                            <a class="btn btn-warning" th:href="@{/modificar/{id}(id=${usuario.id})}" th:text="Modificar"></a>
                        </td>
                        <td>
                            <a class="btn btn-danger" th:href="@{/eliminar/{id}(id=${usuario.id})}" th:text="Eliminar"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${usuarios == null or usuarios.empty}">
            <p>No hay usuarios disponibles.</p>
        </div>
    </div>

    <footer th:replace="~{layout/plantilla :: footer}"></footer>
</body>
</html>