<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos del usuario</title>
</head>
<body>
    <div>
        <h1>Datos del usuario</h1>
        <a th:href="@{/}">Regresar</a>
        <br/>
        <form th:action="@{/guardar}" method="post" th:object="${usuario}">
            <br/>
            <label for="id">Cédula:</label>
            <input type="text" th:field="*{id}"/>
            <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" style="color: red;">Error Cédula</span>
            <br/>
            <label for="clave">Clave:</label>
            <input type="password" th:field="*{clave}"/>
            <span th:if="${#fields.hasErrors('clave')}" th:errors="*{clave}" style="color: red;">Error Clave</span>
            <br/>
            <label for="nombre">Nombre:</label>
            <input type="text" th:field="*{nombre}"/>
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" style="color: red;">Error Nombre</span>
            <br/>
            <label for="email">Email:</label>
            <input type="email" th:field="*{email}"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;">Error Email</span>
            <br/>
            <label for="rol">Rol:</label>
            <select th:field="*{rol}">
                <option value="">-- Seleccione un rol --</option>
                <option value="ADMIN">ADMIN</option>
                <option value="USER">USER</option>
            </select>
            <span th:if="${#fields.hasErrors('rol')}" th:errors="*{rol}" style="color: red;">Error Rol</span>
            <br/>
            <input type="reset" value="Restablecer"/>
            <input type="submit" value="Guardar"/>
        </form>
    </div>
</body>
</html>